@{
    ViewData["Title"] = "Home Page";
}

<div class="video-div">
    <video class="video-banner"
           autoplay
           muted
           loop
           playsinline>
        <source src="/Assets/Videos/71aecf07-b19a-4ef7-af2b-ec3decd14513.MP4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="video-text">
        <p>Մեկ օրում <br> քո նոր մեքենայի ղեկին</p>
        <br>
        <br>
        <div class="video-buttons">
            <a href="#" class="checkcredit-btn-video">Ստուգիր Վարկունակությունդ</a>
            <a href="#" class="findcar-btn-video">Գտիր քո մեքենան</a>
        </div>
    </div>
</div>
<div class="HowItWorksContainer">
    <div class="HowItWorksImageContainer">
        <img src="/Assets/image (1).png" alt="How It Works" class="how-it-works-image" />
    </div>
    <div class="HowItWorksTextContainer">
        <h1 class="how-it-works-title">Քո նոր մեքենան ավտոսրահից գտնելու արագ ճանապարհը</h1><br> <br>
        <p class="how-it-works-description">
            Ընտրի՛ր քո նոր մեքենան և նույն պահին ծանոթացի՛ր վարկավորման
            պայմաններին, իմացիր, թե որքան վարկ կարող ես ստանալ, այնուհետև
            ձևակերպիր բոլոր փաստաթղթերը։
        </p>
    </div>
</div>
